body {
    background-color: lightblue;
    font-size: 18px;
}

header {
    border: 3px solid black;
}

section {
    background-color: white;
    border: 2px solid darkblue;
    text-align: center;
    margin: 20px;
}

p {
    color: darkgreen;
}

li {
    color: darkred;
    font-size: 18px;
}

button {
    border: 2px solid black;
}

footer {
    background-color: gray;
    color: white;
    text-align: center;
}